@font-face{
    font-family: "Roboto";
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family: "Roboto-Italic";
    src: url(./fonts/Roboto-Italic.ttf);
}

@font-face{
    font-family: "oboto-Light";
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto-Regular.ttf);
}